*{
    margin: 0;
    padding: 0;
    font-weight: 300;
}
html{
    min-height: 100%;
    /*overflow-y: hidden;*/
}
body{
    font-family: Roboto, Open-sans, Arial;
    /*background: #313131;*/
    color: white;
    width: 100%;
}
a{
    color: orange;
}
.logo{    
    
    height: 200px;
    /*background-image: url(http://www.adventureeducational.com/images/minecraft/Velocity-Kids-STICKER-Logo.png);*/
    background-image: url(../res/img/logo.png);
    background-size: cover;
    width: 4em;
    height: 4em;


}
my-app{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;


}
my_header{
    /*
    position: relative;
    width: 100%;
    height: 4em;
    display: block;
    */
}
my_footer{

}