	<main>

		<div id="modal" style="height:0; display: none">
			<h1> Loading!!! </h1>
		</div>

		<div class="model-registation-steps">
			<div class="reg-step-block passed">
				<span>Profile creation</span>
				<i class="uk-icon-chevron-right"></i>
			</div>
			<div class="reg-step-block passed">
				<span>Personal data</span>
				<i class="uk-icon-chevron-right"></i>
			</div>
			<div class="reg-step-block active">
				<span>Documents</span>
				<i class="uk-icon-chevron-right"></i>
			</div>
			<div class="reg-step-block">
				<span>Account type</span>
				<i class="uk-icon-chevron-right"></i>
			</div>
			<div class="reg-step-block">
				<span>Finish</span>
				<i class="uk-icon-check"></i>
			</div>
		</div>
		<section class="create-profile-4">
			<div class="uk-grid uk-margin-remove">
				<div class="uk-width-large-1-1 uk-width-xlarge-3-4 uk-container-center uk-padding-remove">
					<form action="" id="documents-upload">
						<div class="uk-grid uk-margin-remove">
							<div class="uk-width-large-1-1 form-title">
								<p>Upload both sides of your ID, then take a picture of you holding your ID</p>
							</div>
							<div class="uk-width-large-1-3 step-block">
								<div class="block-title">
									<p>I</p>
									<p>ID Front</p>
								</div>
								<div class="upload-container">
									<input type="file" name="id-front" id="id-front" (change)="onChange($event, 'id-front')" >
									<label for="id-front" >
										<span class = "progres" id= "id-front_" ></span>
										Browse
										<br>
										ID Front
										</label>
								</div>
								<div class="info-block">
									<i class="info icon-question-circular-button"></i>
									<div class="info-container">
										<div class="image-wrapper">
											<img src="img/icons/id-front.png" alt="">
										</div>
										<p class="description">Verify that the uploaded image is similar to the displayed sample in clarity and format.<br>Maximum file size: 15 MB<br>Supported formats: JPG, JPEG, PNG, BMP<br>Minimum resolution: 500px X 500px</p>
									</div>
								</div>
							</div>
							<div class="uk-width-large-1-3 step-block">
								<div class="block-title">
									<p>II</p>
									<p>ID Back</p>
								</div>
								<div class="upload-container">
									<input type="file" name="id-back" id="id-back" (change)="onChange($event, 'id-back')" >
									<label for="id-back" >
										<span class = "progres" id= "id-back_" ></span>
										Browse
										<br>
										ID Front
										</label>
								</div>
								<div class="info-block">
									<i class="info icon-question-circular-button"></i>
									<div class="info-container">
										<div class="image-wrapper">
											<img src="img/icons/id-back.png" alt="">
										</div>
										<p class="description">Verify that the uploaded image is similar to the displayed sample in clarity and format.<br>Maximum file size: 15 MB<br>Supported formats: JPG, JPEG, PNG, BMP<br>Minimum resolution: 500px X 500px</p>
									</div>
								</div>
							</div>
							<div class="uk-width-large-1-3 step-block">
								<div class="block-title">
									<p>III</p>
									<p>Face &amp; ID</p>
								</div>
								<div class="upload-container">
									<input type="file" name="id-face" id="id-face" (change)="onChange($event, 'id-face')" >
									<label for="id-face">
										<span class = "progres" id= "id-face_" ></span>
										Browse
										<br>
										Face&amp;ID
										</label>
									<p>or</p>
									<input type="file" name="id-snapshot" id="id-snapshot" (change)="onChange($event, 'id-snapshot')" >
									<label for="id-snapshot">
										<span class = "progres" id= "id-snapshot_" ></span>
										Take
										<br>
										a Snapshot
										</label>
								</div>
								<div class="info-block">
									<i class="info icon-question-circular-button"></i>
									<div class="info-container">
										<div class="image-wrapper">
											<img src="img/icons/id-face.png" alt="">
										</div>
										<p class="description">Verify that the uploaded image is similar to the displayed sample in clarity and format.<br>Maximum file size: 15 MB<br>Supported formats: JPG, JPEG, PNG, BMP<br>Minimum resolution: 500px X 500px</p>
									</div>
								</div>
							</div>
						</div>
						<div class="uk-width-large-1-1 form-description">
							<p>Your documents must be reviewed before approval.<br> We shall contact you within 24 hours!</p>
						</div>
						<input (click)="next()" type="submit" value="next">
					</form>
				</div>
			</div>
		</section>
	</main>

	<div id="agreement-info-modal" class="uk-modal">
		<div class="uk-modal-dialog uk-modal-dialog-large">
			<a class="uk-modal-close uk-close"></a>
			<div class="modal-header">
				<span>Model/Studio Services Agreement</span>
			</div>
			<div class="modal-content">
				<p>This agreement (hereinafter referred to as "Services Agreement") governs the relationship between:</p>
				<p>Duodecad IT Services Luxembourg S.à r.l., with registered address at 44, Avenue John F. Kennedy, L-1855 Luxembourg, Grand Duchy of Luxembourg, registered in the Luxembourg Trade and Companies Register under the number (R.C.S.) B 171.358, with a registered capital of EUR 12 500 (hereinafter referred to as "Website Operator") and the Model (hereinafter referred to as the "Model”, "me", "you" or "I") and/or - in case of creation of a Studio Account - the Studios (hereinafter referred to as "Studio" and as the case may be, "you", "me", or "I")</p>
				<p class="title">Services agreement</p>
				<p>By filling in and submitting the sign-up form, and by clicking on the button "I have read, understood, and accept the present Services Agreement and expressly declare the acceptance of clauses regarding Declarations (4th clause) and Personal data (5th clause)", the Model/the Studio gives its consent to, and notably its express consent to clauses regarding Declarations (4th clause) and Personal data (5th clause), and accept the following Services Agreement:</p>
				<p class="title">Definitions</p>
				<p>"I", "me", "you": either Model, Studio, or both of them, as the case may be.</p>
				<p>"Model": a person providing adult entertainment services for the Website Operator.</p>
				<p>"Studio": a person (legal or natural) subscribing to a Studio Account, and who is providing adult entertainment services while contracting Models.</p>
				<p>"Studio Account": a registered account of the Studio which may also register Models.</p>
			</div>
		</div>
	</div>

	<div id="sidemenu" class="uk-offcanvas">
		<div class="uk-offcanvas-bar sidemenu-bar">
			<div class="sidebar-block">
				<p class="sidebar-block-title">Search</p>
				<div class="sidebar-block-content">
					<form action="" id="side-search">
						<div class="input-container">
							<input type="text" class="search-text">
							<button type="submit"></button>
						</div>
					</form>
				</div>
			</div>
			<div class="sidebar-block">
				<p class="sidebar-block-title">Quick filters</p>
				<div class="sidebar-block-content">
					<ul class="side-quick-filter-list">
						<li><a href="">Free</a></li>
						<li><a href="">High rated</a></li>
						<li><a href="">Hot&amp;New</a></li>
						<li><a href="">Popular</a></li>
						<li><a href="">Free</a></li>
						<li><a href="">High rated</a></li>
						<li><a href="">Hot&amp;New</a></li>
						<li><a href="">Popular</a></li>
					</ul>
				</div>
			</div>
			<div class="sidebar-block">
				<p class="sidebar-block-title">Filters</p>
				<div class="sidebar-block-content">
					<form action="" id="side-filter">
						<p class="form-title">Select your preferences:</p>
						<ul>
							<li><input id="side-filter-check-0" type="checkbox"><label for="side-filter-check-0">Asian</label></li>
							<li><input id="side-filter-check-1" type="checkbox"><label for="side-filter-check-1">Blonde</label></li>
							<li><input id="side-filter-check-2" type="checkbox"><label for="side-filter-check-2">Brunett</label></li>
							<li><input id="side-filter-check-3" type="checkbox"><label for="side-filter-check-3">Happy Histories</label></li>
							<li><input id="side-filter-check-4" type="checkbox"><label for="side-filter-check-4">Newbee</label></li>
							<li><input id="side-filter-check-5" type="checkbox"><label for="side-filter-check-5">Filter </label></li>
							<li><input id="side-filter-check-6" type="checkbox"><label for="side-filter-check-6">Filter Filter</label></li>
							<li><input id="side-filter-check-7" type="checkbox"><label for="side-filter-check-7">Filter Filter</label></li>
						</ul>
						<input type="submit" value="apply">
					</form>
				</div>
			</div>
		</div>
	</div>