		
		<div class="model-registation-steps">

 
			<div class="reg-step-block active">
				<a routerLink="/model_reg1" routerLinkActive="active" >
					<span>Profile creation</span>
				</a>
				<i class="uk-icon-chevron-right"></i>
			</div>


			<div class="reg-step-block">
				<a routerLink="/model_reg2" routerLinkActive="active" >
					<span>Personal data</span>
				</a>
				<i class="uk-icon-chevron-right"></i>
			</div>


			<div class="reg-step-block">
				<a routerLink="/model_reg3" routerLinkActive="active">
					<span>Documents</span>
				</a>
				<i class="uk-icon-chevron-right"></i>
			</div>


			<div class="reg-step-block">
				<a routerLink="/model_reg4" routerLinkActive="active">
					<span>Account type</span>
				</a>
				<i class="uk-icon-chevron-right"></i>
			</div>


			<div class="reg-step-block">
				<a routerLink="/model_reg5" routerLinkActive="active">
					<span>Finish</span>
				</a>
				<i class="uk-icon-chevron"></i>
			</div>


		</div>