	<main>
		<div class="filters">
			<div class="uk-grid">
				<div class="uk-width-medium-1-10">
					<a href="" class="quick-filter-btn"></a>
				</div>
				<div class="uk-width-medium-8-10">
					<div class="search-container">
						<form action="" id="search">
							<button type="submit"></button>
							<input type="text" class="search-text">
							<button class="search-btn"></button>
						</form>
					</div>
				</div>
				<div class="uk-width-medium-1-10">
					<a href="" class="filter-btn"></a>
				</div>
			</div>
			<ul class="quick-filter-list">
				<li><a href="">Free</a></li>
				<li><a href="">High rated</a></li>
				<li><a href="">Hot&amp;New</a></li>
				<li><a href="">Popular</a></li>
				<li><a href="">Free</a></li>
				<li><a href="">High rated</a></li>
				<li><a href="">Hot&amp;New</a></li>
				<li><a href="">Popular</a></li>
			</ul>
			<div class="filter-container">
				<form action="" id="filter">
					<p class="form-title">Select your preferences:</p>
					<ul>
						<li><input id="filter-check-0" type="checkbox"><label for="filter-check-0">Asian</label></li>
						<li><input id="filter-check-1" type="checkbox"><label for="filter-check-1">Blonde</label></li>
						<li><input id="filter-check-2" type="checkbox"><label for="filter-check-2">Brunett</label></li>
						<li><input id="filter-check-3" type="checkbox"><label for="filter-check-3">Happy Histories</label></li>
						<li><input id="filter-check-4" type="checkbox"><label for="filter-check-4">Newbee</label></li>
						<li><input id="filter-check-5" type="checkbox"><label for="filter-check-5">Filter </label></li>
						<li><input id="filter-check-6" type="checkbox"><label for="filter-check-6">Filter Filter</label></li>
						<li><input id="filter-check-7" type="checkbox"><label for="filter-check-7">Filter Filter</label></li>
					</ul>
					<input type="submit" value="apply">
				</form>
			</div>
		</div>
		<section class="stories">
			<div class="uk-grid">
				<div class="uk-width-xlarge-1-2 uk-container-center uk-padding-remove">
					<div class="new-story-block">
						<form action="">
							<div class="image-wrapper">
								<img src="app/img/model-avatar.jpg" alt="">
							</div>
							<div class="input-container">
								<textarea name="" id="" cols="20" rows="3" placeholder="Post your Storie" required></textarea>
							</div>
							<div class="select-wrapper">
								<label for="">Доступно:</label>
								<div class="uk-form-select" data-uk-form-select>
									<span></span>
									<i class="uk-icon-caret-down"></i>
									<select required>
										<option value="">Всем пользователям</option>
										<option value="">Всем пользователям</option>
										<option value="">Всем пользователям</option>
									</select>
								</div>
							</div>
							<div class="select-wrapper">
								<label for="">Category:</label>
								<div class="uk-form-select" data-uk-form-select>
									<span></span>
									<i class="uk-icon-caret-down"></i>
									<select required>
										<option value="">SoulMate</option>
										<option value="">SoulMate</option>
										<option value="">SoulMate</option>
									</select>
								</div>
							</div>
							<div class="button-wrapper">
								<input type="submit" value="send">
								<input type="reset" value="cancel">
							</div>
						</form>
					</div>
				</div>

				<div class="uk-width-xlarge-3-4 uk-container-center">
					<div class="page-title">
						<p>Search result</p>
					</div>
				</div>
				<div class="uk-grid uk-width-xlarge-3-4 uk-container-center uk-padding-remove">
					<div class="uk-width-xlarge-1-2">
						<div class="story-container">
							<div class="story-header">
								<div class="image-wrapper">
									<img src="app/img/model-avatar.jpg" alt="">
								</div>
								<div class="description">
									<p class="author">Johny Depp</p>
									<p class="access">Доступно всем пользователям  -  16:00</p>
									<p class="category">Category: <a href="">SoulMate</a></p>
								</div>
							</div>
							<div class="story-content">
								<p class="preview">Я работал практически один, делая тысячи дублей в течение дня, давая Уолли множество вариантов для выбора — холодные, жестковатые и для контраста очень эмоциональные, с перебором. Таким образом, мы искали верный тон, ту тонкую черту, на которой все балансирует. Мы не хотели направлять внимание зрителя в какое-то слишком уж очевидное русло... <a href="">Read more...</a></p>
								<a href="" class="tag">#FamousActor</a>
								<a href="" class="tag">#Workinghard</a>
								<a href="" class="tag">#Meet&amp;fuck</a>
							</div>
							<div class="story-actions">
								<a href="" class="like-btn"><i class="icon-like"></i> 12745</a>
								<a href="" class="reply-btn"><i class="icon-reply-arrow"></i> 8213</a>
								<a href="" class="comment-btn">Comment</a>
							</div>
							<div class="action-buttons">
								<a href="" class="edit-btn" data-uk-tooltip="{ cls: 'btn-tooltip', pos: 'bottom'}" title="Edit">Edit</a>
								<a href="" class="delete-btn" data-uk-tooltip="{ cls: 'btn-tooltip', pos: 'bottom'}" title="Delete"><i class="uk-icon-times"></i></a>
							</div>
							<div class="comment-form">
								<form action="">
									<div class="image-wrapper">
										<img src="app/img/user-square.jpg" alt="">
									</div>
									<div class="input-container">
										<textarea name="" id="" cols="30" rows="4"></textarea>
									</div>
									<div class="button-wrapper">
										<input type="submit" value="send">
										<input type="reset" value="cancel">
									</div>
								</form>
							</div>
						</div>
					</div>

<!-- 2 ********************************************************************************************************* -->

					<div class="uk-width-xlarge-1-2">
						<div class="story-container">
							<div class="story-header">
								<div class="image-wrapper">
									<img src="app/img/model-avatar.jpg" alt="">
								</div>
								<div class="description">
									<p class="author">Johny Depp</p>
									<p class="access">Доступно всем пользователям  -  16:00</p>
									<p class="category">Category: <a href="">SoulMate</a></p>
								</div>
							</div>
							<div class="story-content">
								<p class="preview">Я работал практически один, делая тысячи дублей в течение дня, давая Уолли множество вариантов для выбора — холодные, жестковатые и для контраста очень эмоциональные, с перебором. Таким образом, мы искали верный тон, ту тонкую черту, на которой все балансирует. Мы не хотели направлять внимание зрителя в какое-то слишком уж очевидное русло... <a href="">Read more...</a></p>
								<a href="" class="tag">#FamousActor</a>
								<a href="" class="tag">#Workinghard</a>
								<a href="" class="tag">#Meet&amp;fuck</a>
							</div>
							<div class="story-actions">
								<a href="" class="like-btn"><i class="icon-like"></i> 12745</a>
								<a href="" class="reply-btn"><i class="icon-reply-arrow"></i> 8213</a>
								<a href="" class="comment-btn">Comment</a>
							</div>
							<div class="comment-form">
								<form action="">
									<div class="image-wrapper">
										<img src="app/img/user-square.jpg" alt="">
									</div>
									<div class="input-container">
										<textarea name="" id="" cols="30" rows="4"></textarea>
									</div>
									<div class="button-wrapper">
										<input type="submit" value="send">
										<input type="reset" value="cancel">
									</div>
								</form>
							</div>
						</div>
					</div>

<!-- 3 ********************************************************************************************************* -->
					<div class="uk-width-xlarge-1-2">
						<div class="story-container">
							<div class="story-header">
								<div class="image-wrapper">
									<img src="app/img/model-avatar.jpg" alt="">
								</div>
								<div class="description">
									<p class="author">Johny Depp</p>
									<p class="access">Доступно всем пользователям  -  16:00</p>
									<p class="category">Category: <a href="">SoulMate</a></p>
								</div>
							</div>
							<div class="story-content">
								<p class="preview">Я работал практически один, делая тысячи дублей в течение дня, давая Уолли множество вариантов для выбора — холодные, жестковатые и для контраста очень эмоциональные, с перебором. Таким образом, мы искали верный тон, ту тонкую черту, на которой все балансирует. Мы не хотели направлять внимание зрителя в какое-то слишком уж очевидное русло... <a href="">Read more...</a></p>
								<a href="" class="tag">#FamousActor</a>
								<a href="" class="tag">#Workinghard</a>
								<a href="" class="tag">#Meet&amp;fuck</a>
							</div>
							<div class="story-actions">
								<a href="" class="like-btn"><i class="icon-like"></i> 12745</a>
								<a href="" class="reply-btn"><i class="icon-reply-arrow"></i> 8213</a>
							</div>
							<div class="story-comments">
								<div class="comments-header">
									<p>1 Comments</p>
									<i class="uk-icon-caret-down"></i>
								</div>
								<div class="comments-wrapper">
									<div class="comment-item">
										<div class="image-wrapper">
											<img src="app/img/user-square.jpg" alt="">
										</div>
										<div class="content-wrapper">
											<p class="comment-author">Johny Depp</p>
											<p>Я работал практически один, делая тысячи дублей в течение дня, давая Уолли множество вариантов для... Reed more...</p>
											<div class="comment-date">
												<span>Вчера в 21:30</span>
											</div>
										</div>
										<div class="action-buttons">
											<a href="" class="report-btn" data-uk-tooltip="{ cls: 'btn-tooltip', pos: 'bottom'}" title="Report"><i class="icon-flag"></i></a>
											<a href="" class="answer-btn" data-uk-tooltip="{ cls: 'btn-tooltip', pos: 'bottom'}" title="Answer">Answer</a>
										</div>
									</div>
									<div class="comment-actions">
										<a href="" class="comment-btn">Comment</a>
									</div>
								</div>
							</div>
							<div class="comment-form">
								<form action="">
									<div class="image-wrapper">
										<img src="app/img/user-square.jpg" alt="">
									</div>
									<div class="input-container">
										<textarea name="" id="" cols="30" rows="4"></textarea>
									</div>
									<div class="button-wrapper">
										<input type="submit" value="send">
										<input type="reset" value="cancel">
									</div>
								</form>
							</div>
						</div>
					</div>

<!-- 4 ********************************************************************************************************* -->
					<div class="uk-width-xlarge-1-2">
						<div class="story-container">
							<div class="story-header">
								<div class="image-wrapper">
									<img src="app/img/model-avatar.jpg" alt="">
								</div>
								<div class="description">
									<p class="author">Johny Depp</p>
									<p class="access">Доступно всем пользователям  -  16:00</p>
									<p class="category">Category: <a href="">SoulMate</a></p>
								</div>
							</div>
							<div class="story-content">
								<p class="preview">Я работал практически один, делая тысячи дублей в течение дня, давая Уолли множество вариантов для выбора — холодные, жестковатые и для контраста очень эмоциональные, с перебором. Таким образом, мы искали верный тон, ту тонкую черту, на которой все балансирует. Мы не хотели направлять внимание зрителя в какое-то слишком уж очевидное русло... <a href="">Read more...</a></p>
								<a href="" class="tag">#FamousActor</a>
								<a href="" class="tag">#Workinghard</a>
								<a href="" class="tag">#Meet&amp;fuck</a>
							</div>
							<div class="story-actions">
								<a href="" class="like-btn"><i class="icon-like"></i> 12745</a>
								<a href="" class="reply-btn"><i class="icon-reply-arrow"></i> 8213</a>
							</div>
							<div class="story-comments">
								<div class="comments-header">
									<p>18 Comments</p>
									<i class="uk-icon-caret-down"></i>
								</div>
								<div class="comments-wrapper">
									<div class="comment-item">
										<div class="image-wrapper">
											<img src="app/img/user-square.jpg" alt="">
										</div>
										<div class="content-wrapper">
											<p class="comment-author">Johny Depp</p>
											<p>Я работал практически один, делая тысячи дублей в течение дня, давая Уолли множество вариантов для... Reed more...</p>
											<div class="comment-date">
												<span>Вчера в 21:30</span>
											</div>
										</div>
									</div>
									<div class="comment-item">
										<div class="image-wrapper">
											<img src="app/img/user-square.jpg" alt="">
										</div>
										<div class="content-wrapper">
											<p class="comment-author">Johny Depp</p>
											<p>Я работал практически один, делая тысячи дублей в течение дня, давая Уолли множество вариантов для... Reed more...</p>
											<div class="comment-date">
												<span>Вчера в 21:30</span>
											</div>
										</div>
									</div>
									<div class="comment-item">
										<div class="image-wrapper">
											<img src="app/img/user-square.jpg" alt="">
										</div>
										<div class="content-wrapper">
											<p class="comment-author">Johny Depp</p>
											<p>Я работал практически один, делая тысячи дублей в течение дня, давая Уолли множество вариантов для... Reed more...</p>
											<div class="comment-date">
												<span>Вчера в 21:30</span>
											</div>
										</div>
										<div class="action-buttons">
											<a href="" class="edit-btn">Edit</a>
											<a href="" class="delete-btn"><i class="uk-icon-times"></i></a>
										</div>
									</div>
									<div class="comment-actions">
										<a href="" class="comment-btn">Comment</a>
									</div>
								</div>
							</div>
							<div class="comment-form">
								<form action="">
									<div class="image-wrapper">
										<img src="app/img/user-square.jpg" alt="">
									</div>
									<div class="input-container">
										<textarea name="" id="" cols="30" rows="4"></textarea>
									</div>
									<div class="button-wrapper">
										<input type="submit" value="send">
										<input type="reset" value="cancel">
									</div>
								</form>
							</div>
						</div>
					</div>

<!-- 5 ********************************************************************************************************* -->

					<div class="uk-width-xlarge-1-2">
						<div class="story-container">
							<div class="story-header">
								<div class="image-wrapper">
									<img src="app/img/model-avatar.jpg" alt="">
								</div>
								<div class="description">
									<p class="author">Johny Depp</p>
									<p class="access">Доступно всем пользователям  -  16:00</p>
									<p class="category">Category: <a href="">SoulMate</a><a href="">Online</a></p>
								</div>
							</div>
							<div class="story-content">
								<p class="preview">Я работал практически один, делая тысячи дублей в течение дня, давая Уолли множество вариантов для выбора — холодные, жестковатые и для контраста очень эмоциональные, с перебором. Таким образом, мы искали верный тон, ту тонкую черту, на которой все балансирует. Мы не хотели направлять внимание зрителя в какое-то слишком уж очевидное русло... <a href="">Read more...</a></p>
								<a href="" class="tag">#FamousActor</a>
								<a href="" class="tag">#Workinghard</a>
								<a href="" class="tag">#Meet&amp;fuck</a>
							</div>
							<div class="story-actions">
								<a href="" class="like-btn"><i class="icon-like"></i> 12745</a>
								<a href="" class="reply-btn"><i class="icon-reply-arrow"></i> 8213</a>
								<a href="" class="comment-btn">Comment</a>
							</div>
							<div class="action-buttons">
								<a href="" class="edit-btn" data-uk-tooltip="{ cls: 'btn-tooltip', pos: 'bottom'}" title="Edit">Edit</a>
								<a href="" class="delete-btn" data-uk-tooltip="{ cls: 'btn-tooltip', pos: 'bottom'}" title="Delete"><i class="uk-icon-times"></i></a>
								<a href="" class="report-btn" data-uk-tooltip="{ cls: 'btn-tooltip', pos: 'bottom'}" title="Report"><i class="icon-flag"></i></a>
								<a href="" class="answer-btn" data-uk-tooltip="{ cls: 'btn-tooltip', pos: 'bottom'}" title="Answer">Answer</a>
							</div>
							<div class="comment-form">
								<form action="">
									<div class="image-wrapper">
										<img src="app/img/user-square.jpg" alt="">
									</div>
									<div class="input-container">
										<textarea name="" id="" cols="30" rows="4"></textarea>
									</div>
									<div class="button-wrapper">
										<input type="submit" value="send">
										<input type="reset" value="cancel">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<div id="sidemenu" class="uk-offcanvas">
		<div class="uk-offcanvas-bar sidemenu-bar">
			<div class="sidebar-block">
				<p class="sidebar-block-title">Search</p>
				<div class="sidebar-block-content">
					<form action="" id="side-search">
						<div class="input-container">
							<input type="text" class="search-text">
							<button type="submit"></button>
						</div>
					</form>
				</div>
			</div>
			<div class="sidebar-block">
				<p class="sidebar-block-title">Quick filters</p>
				<div class="sidebar-block-content">
					<ul class="side-quick-filter-list">
						<li><a href="">Free</a></li>
						<li><a href="">High rated</a></li>
						<li><a href="">Hot&amp;New</a></li>
						<li><a href="">Popular</a></li>
						<li><a href="">Free</a></li>
						<li><a href="">High rated</a></li>
						<li><a href="">Hot&amp;New</a></li>
						<li><a href="">Popular</a></li>
					</ul>
				</div>
			</div>
			<div class="sidebar-block">
				<p class="sidebar-block-title">Filters</p>
				<div class="sidebar-block-content">
					<form action="" id="side-filter">
						<p class="form-title">Select your preferences:</p>
						<ul>
							<li><input id="side-filter-check-0" type="checkbox"><label for="side-filter-check-0">Asian</label></li>
							<li><input id="side-filter-check-1" type="checkbox"><label for="side-filter-check-1">Blonde</label></li>
							<li><input id="side-filter-check-2" type="checkbox"><label for="side-filter-check-2">Brunett</label></li>
							<li><input id="side-filter-check-3" type="checkbox"><label for="side-filter-check-3">Happy Histories</label></li>
							<li><input id="side-filter-check-4" type="checkbox"><label for="side-filter-check-4">Newbee</label></li>
							<li><input id="side-filter-check-5" type="checkbox"><label for="side-filter-check-5">Filter </label></li>
							<li><input id="side-filter-check-6" type="checkbox"><label for="side-filter-check-6">Filter Filter</label></li>
							<li><input id="side-filter-check-7" type="checkbox"><label for="side-filter-check-7">Filter Filter</label></li>
						</ul>
						<input type="submit" value="apply">
					</form>
				</div>
			</div>
		</div>
	</div>
