	

	<main>

		<br>
		<br>
		<br>

		<!-- its Registration FORM -->
		<section class="create-profile-1">
			<div class="uk-grid uk-margin-remove">
				<div class="uk-width-large-1-1 uk-width-xlarge-1-2 uk-container-center uk-padding-remove">
					<div class="form-container">
						<div class="container-header">
							<p>Authorization </p>
						</div> 

						<form action="" id="create-profile">
							<div class="input-container"> 
								<input [(ngModel)]="RD.login" type="text"     name="username" id="username" placeholder="Username" required>
							</div>
							<!--div class="input-container">
								<input [(ngModel)]="RD.email"    type="email"    name="email"    id="email"    placeholder="E-mail"   required>
							</div-->
							<div class="input-container">
								<input [(ngModel)]="RD.password" type="password" name="password" id="password" placeholder="Password" required>
							</div>
							<!--div  class="input-container checkbox-wrapper {{style_conainer}} "> 
								<input [(ngModel)]="RD.checkbox" type="checkbox" id="accept" required>
								<label for="accept">I accept the <a href="#agreement-info-modal" data-uk-modal>Services Agreement</a> for Model/Studios.</label>
							</div-->
							<!--input (click)="next()" type="submit" value="Create"-->              
							<button (click)="next()" type="button" value="Log_in"> Log in </button>
						</form>				

					</div>
					<!--p style="color: white"> {{ RD.username }} {{ RD.email }} {{ RD.password }} {{ RD.checkbox }}  </p-->
				</div>
			</div>
		</section>
	</main>

	<div id="agreement-info-modal" class="uk-modal">
		<div class="uk-modal-dialog uk-modal-dialog-large">
			<a class="uk-modal-close uk-close"></a>
			<div class="modal-header">
				<span>Model/Studio Services Agreement</span>
			</div>
			<div class="modal-content">
				<p>This agreement (hereinafter referred to as "Services Agreement") governs the relationship between:</p>
				<p>Duodecad IT Services Luxembourg S.à r.l., with registered address at 44, Avenue John F. Kennedy, L-1855 Luxembourg, Grand Duchy of Luxembourg, registered in the Luxembourg Trade and Companies Register under the number (R.C.S.) B 171.358, with a registered capital of EUR 12 500 (hereinafter referred to as "Website Operator") and the Model (hereinafter referred to as the "Model”, "me", "you" or "I") and/or - in case of creation of a Studio Account - the Studios (hereinafter referred to as "Studio" and as the case may be, "you", "me", or "I")</p>
				<p class="title">Services agreement</p>
				<p>By filling in and submitting the sign-up form, and by clicking on the button "I have read, understood, and accept the present Services Agreement and expressly declare the acceptance of clauses regarding Declarations (4th clause) and Personal data (5th clause)", the Model/the Studio gives its consent to, and notably its express consent to clauses regarding Declarations (4th clause) and Personal data (5th clause), and accept the following Services Agreement:</p>
				<p class="title">Definitions</p>
				<p>"I", "me", "you": either Model, Studio, or both of them, as the case may be.</p>
				<p>"Model": a person providing adult entertainment services for the Website Operator.</p>
				<p>"Studio": a person (legal or natural) subscribing to a Studio Account, and who is providing adult entertainment services while contracting Models.</p>
				<p>"Studio Account": a registered account of the Studio which may also register Models.</p>
			</div>
		</div>
	</div>

	<div id="sidemenu" class="uk-offcanvas">
		<div class="uk-offcanvas-bar sidemenu-bar">
			<div class="sidebar-block">
				<p class="sidebar-block-title">Search</p>
				<div class="sidebar-block-content">
					<form action="" id="side-search">
						<div class="input-container">
							<input type="text" class="search-text">
							<button type="submit"></button>
						</div>
					</form>
				</div>
			</div>
			<div class="sidebar-block">
				<p class="sidebar-block-title">Quick filters</p>
				<div class="sidebar-block-content">
					<ul class="side-quick-filter-list">
						<li><a href="">Free</a></li>
						<li><a href="">High rated</a></li>
						<li><a href="">Hot&amp;New</a></li>
						<li><a href="">Popular</a></li>
						<li><a href="">Free</a></li>
						<li><a href="">High rated</a></li>
						<li><a href="">Hot&amp;New</a></li>
						<li><a href="">Popular</a></li>
					</ul>
				</div>
			</div>
			<div class="sidebar-block">
				<p class="sidebar-block-title">Filters</p>
				<div class="sidebar-block-content">
					<form action="" id="side-filter">
						<p class="form-title">Select your preferences:</p>
						<ul>
							<li><input id="side-filter-check-0" type="checkbox"><label for="side-filter-check-0">Asian</label></li>
							<li><input id="side-filter-check-1" type="checkbox"><label for="side-filter-check-1">Blonde</label></li>
							<li><input id="side-filter-check-2" type="checkbox"><label for="side-filter-check-2">Brunett</label></li>
							<li><input id="side-filter-check-3" type="checkbox"><label for="side-filter-check-3">Happy Histories</label></li>
							<li><input id="side-filter-check-4" type="checkbox"><label for="side-filter-check-4">Newbee</label></li>
							<li><input id="side-filter-check-5" type="checkbox"><label for="side-filter-check-5">Filter </label></li>
							<li><input id="side-filter-check-6" type="checkbox"><label for="side-filter-check-6">Filter Filter</label></li>
							<li><input id="side-filter-check-7" type="checkbox"><label for="side-filter-check-7">Filter Filter</label></li>
						</ul>
						<input type="submit" value="apply">
					</form>
				</div>
			</div>
		</div>
	</div>
	
