	<main>
		<section class="quick-registration">
			<form action="">
				<div class="uk-grid">
					<div class="uk-grid uk-width-xlarge-2-3 uk-container-center">
						<div class="uk-width-xlarge-1-1 uk-padding-remove">
							<p class="page-title">Registration required</p>
						</div>
						<div class="uk-width-medium-1-2 uk-padding-remove">
							<div class="input-container">
								<label for="username">Choose Username:</label>
								<input type="text" name="username" id="username">
							</div>
							<div class="input-container">
								<label for="password">Create Password:</label>
								<input type="password" name="password" id="password">
							</div>
						</div>
						<div class="uk-width-medium-1-2 uk-padding-remove">
							<div class="payment-container">
								<p class="block-title">Payment method</p>
								<div class="checkbox-wrapper">
									<input type="checkbox" id="credit-join">
									<label for="credit-join">
										<span class="toggle">
											<span class="toggle-on">on</span>
											<span class="toggle-off">off</span>
										</span>
										Join by credit card
									</label>
								</div>
								<ul>
									<li><img src="app/img/credit-cards/visa_logo_6.gif" alt=""></li>
									<li><img src="app/img/credit-cards/mastercard_logo_5.gif" alt=""></li>
									<li><img src="app/img/credit-cards/discover_network2.jpg" alt=""></li>
									<li><img src="" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="uk-width-xlarge-1-1 uk-padding-remove">
							<p class="block-title">Select your membership plan:</p>
							<ul class="plan-list">
								<li>
									<input type="radio" id="plan01" name="select-plan" checked>
									<label for="plan01">
										<span class="toggle">
											<span class="toggle-on">on</span>
											<span class="toggle-off">off</span>
										</span>
										<p>2 Day Limited Trial<span>You will be billed $1.00 for the trial period*</span></p>
										<p class="price">$1.00</p>
									</label>
								</li>
								<li>
									<input type="radio" id="plan02" name="select-plan">
									<label for="plan02">
										<span class="toggle">
											<span class="toggle-on">on</span>
											<span class="toggle-off">off</span>
										</span>
										<p>7 Day Full Access<span>Billed in one payment of $3.00**</span></p>
										<p class="price">$3.00</p>
									</label>
								</li>
								<li>
									<input type="radio" id="plan03" name="select-plan">
									<label for="plan03">
										<span class="toggle">
											<span class="toggle-on">on</span>
											<span class="toggle-off">off</span>
										</span>
										<p>1 Month Full Access<span>Billed in one payment of $29.99</span></p>
										<p class="price">$29.99/month</p>
									</label>
								</li>
								<li>
									<input type="radio" id="plan04" name="select-plan">
									<label for="plan04">
										<span class="toggle">
											<span class="toggle-on">on</span>
											<span class="toggle-off">off</span>
										</span>
										<p>12 Month Full Access<span>Billed yearly in one installment of $119.99</span></p>
										<p class="discount">Save 75%</p>
										<p class="price">$10.00/month</p>
									</label>
								</li>
							</ul>
							<input type="submit" value="get access now">
						</div>
					</div>
				</div>
			</form>
		</section>
	</main>
	<div id="sidemenu" class="uk-offcanvas">
		<div class="uk-offcanvas-bar sidemenu-bar">
			<div class="sidebar-block">
				<p class="sidebar-block-title">Search</p>
				<div class="sidebar-block-content">
					<form action="" id="side-search">
						<div class="input-container">
							<input type="text" class="search-text">
							<button type="submit"></button>
						</div>
					</form>
				</div>
			</div>
			<div class="sidebar-block">
				<p class="sidebar-block-title">Quick filters</p>
				<div class="sidebar-block-content">
					<ul class="side-quick-filter-list">
						<li><a href="">Free</a></li>
						<li><a href="">High rated</a></li>
						<li><a href="">Hot&amp;New</a></li>
						<li><a href="">Popular</a></li>
						<li><a href="">Free</a></li>
						<li><a href="">High rated</a></li>
						<li><a href="">Hot&amp;New</a></li>
						<li><a href="">Popular</a></li>
					</ul>
				</div>
			</div>
			<div class="sidebar-block">
				<p class="sidebar-block-title">Filters</p>
				<div class="sidebar-block-content">
					<form action="" id="side-filter">
						<p class="form-title">Select your preferences:</p>
						<ul>
							<li><input id="side-filter-check-0" type="checkbox"><label for="side-filter-check-0">Asian</label></li>
							<li><input id="side-filter-check-1" type="checkbox"><label for="side-filter-check-1">Blonde</label></li>
							<li><input id="side-filter-check-2" type="checkbox"><label for="side-filter-check-2">Brunett</label></li>
							<li><input id="side-filter-check-3" type="checkbox"><label for="side-filter-check-3">Happy Histories</label></li>
							<li><input id="side-filter-check-4" type="checkbox"><label for="side-filter-check-4">Newbee</label></li>
							<li><input id="side-filter-check-5" type="checkbox"><label for="side-filter-check-5">Filter </label></li>
							<li><input id="side-filter-check-6" type="checkbox"><label for="side-filter-check-6">Filter Filter</label></li>
							<li><input id="side-filter-check-7" type="checkbox"><label for="side-filter-check-7">Filter Filter</label></li>
						</ul>
						<input type="submit" value="apply">
					</form>
				</div>
			</div>
		</div>
	</div>