	<main>
		<div class="filters">
			<div class="uk-grid">
				<div class="uk-width-medium-1-10">
					<a href="" class="quick-filter-btn"></a>
				</div>
				<div class="uk-width-medium-8-10">
					<div class="search-container">
						<form action="" id="search">
							<button type="submit"></button>
							<input type="text" class="search-text">
							<a href="" class="upload-btn"></a>
							<button class="search-btn"></button>
						</form>
					</div>
				</div>
				<div class="uk-width-medium-1-10">
					<a href="" class="filter-btn"></a>
				</div>
			</div>
			<ul class="quick-filter-list">
				<li><a href="">Free</a></li>
				<li><a href="">High rated</a></li>
				<li><a href="">Hot&amp;New</a></li>
				<li><a href="">Popular</a></li>
				<li><a href="">Free</a></li>
				<li><a href="">High rated</a></li>
				<li><a href="">Hot&amp;New</a></li>
				<li><a href="">Popular</a></li>
			</ul>
			<div class="filter-container">
				<form action="" id="filter">
					<p class="form-title">Select your preferences:</p>
					
					<div class="range-slider-wrapper">
						<p class="block-title">Duration (minutes)</p>
						<input type="text" id="range-slider">
						<div id="ui-range-slider"></div>
						<label for="range-slider">
							<span>0</span>
							<span>10</span>
							<span>20</span>
							<span>30</span>
							<span>40+</span>
						</label>
					</div>
					<ul>
						<li><input id="filter-check-8" type="checkbox"><label for="filter-check-8">All</label></li>
						<li><input id="filter-check-9" type="checkbox"><label for="filter-check-9">Professional</label></li>
						<li><input id="filter-check-10" type="checkbox"><label for="filter-check-10">Homemade</label></li>
					</ul>
					<p class="form-title">Categories</p>
					<ul>
						<li><input id="filter-check-0" type="checkbox"><label for="filter-check-0">Asian</label></li>
						<li><input id="filter-check-1" type="checkbox"><label for="filter-check-1">Blonde</label></li>
						<li><input id="filter-check-2" type="checkbox"><label for="filter-check-2">Brunett</label></li>
						<li><input id="filter-check-3" type="checkbox"><label for="filter-check-3">Happy Histories</label></li>
						<li><input id="filter-check-4" type="checkbox"><label for="filter-check-4">Newbee</label></li>
						<li><input id="filter-check-5" type="checkbox"><label for="filter-check-5">Filter </label></li>
						<li><input id="filter-check-6" type="checkbox"><label for="filter-check-6">Filter Filter</label></li>
						<li><input id="filter-check-7" type="checkbox"><label for="filter-check-7">Filter Filter</label></li>
					</ul>
					<input type="submit" value="apply">
				</form>
			</div>
		</div>
		<section class="featured-content">
			<p class="section-title">Featured videos</p>
			<div class="uk-grid uk-margin-remove">
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_01.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_02.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_03.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_04.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_03.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_02.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_04.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_01.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
			</div>
			<a href="" class="load-more">Show more models</a>
		</section>
	</main>
	<div id="sidemenu" class="uk-offcanvas">
		<div class="uk-offcanvas-bar sidemenu-bar">
			<div class="sidebar-block">
				<p class="sidebar-block-title">Search</p>
				<div class="sidebar-block-content">
					<form action="" id="side-search">
						<div class="input-container">
							<input type="text" class="search-text">
							<button type="submit"></button>
						</div>
					</form>
				</div>
			</div>
			<div class="sidebar-block">
				<p class="sidebar-block-title">Quick filters</p>
				<div class="sidebar-block-content">
					<ul class="side-quick-filter-list">
						<li><a href="">Free</a></li>
						<li><a href="">High rated</a></li>
						<li><a href="">Hot&amp;New</a></li>
						<li><a href="">Popular</a></li>
						<li><a href="">Free</a></li>
						<li><a href="">High rated</a></li>
						<li><a href="">Hot&amp;New</a></li>
						<li><a href="">Popular</a></li>
					</ul>
				</div>
			</div>
			<div class="sidebar-block">
				<p class="sidebar-block-title">Filters</p>
				<div class="sidebar-block-content">
					<form action="" id="side-filter">
						<p class="form-title">Select your preferences:</p>
						<div class="range-slider-wrapper">
							<p class="block-title">Duration (minutes)</p>
							<input type="text" id="side-range-slider">
							<div id="side-ui-range-slider"></div>
							<label for="range-slider">
								<span>0</span>
								<span>10</span>
								<span>20</span>
								<span>30</span>
								<span>40+</span>
							</label>
						</div>
						<ul>
							<li><input id="side-filter-check-8" type="checkbox"><label for="side-filter-check-8">All</label></li>
							<li><input id="side-filter-check-9" type="checkbox"><label for="side-filter-check-9">Professional</label></li>
							<li><input id="side-filter-check-10" type="checkbox"><label for="side-filter-check-10">Homemade</label></li>
						</ul>
						<p class="form-title">Categories</p>
						<ul>
							<li><input id="side-filter-check-0" type="checkbox"><label for="side-filter-check-0">Asian</label></li>
							<li><input id="side-filter-check-1" type="checkbox"><label for="side-filter-check-1">Blonde</label></li>
							<li><input id="side-filter-check-2" type="checkbox"><label for="side-filter-check-2">Brunett</label></li>
							<li><input id="side-filter-check-3" type="checkbox"><label for="side-filter-check-3">Happy Histories</label></li>
							<li><input id="side-filter-check-4" type="checkbox"><label for="side-filter-check-4">Newbee</label></li>
							<li><input id="side-filter-check-5" type="checkbox"><label for="side-filter-check-5">Filter </label></li>
							<li><input id="side-filter-check-6" type="checkbox"><label for="side-filter-check-6">Filter Filter</label></li>
							<li><input id="side-filter-check-7" type="checkbox"><label for="side-filter-check-7">Filter Filter</label></li>
						</ul>
						<input type="submit" value="apply">
					</form>
				</div>
			</div>
		</div>
	</div>
