main {
	/*padding: 5em;*/
}
.slide_button{
	width: 120px;
	height: 200px;
	border: solid 1px white;
	position: absolute;
	top: calc(100% / 2 - 100px);
	opacity: 0.3;
	font-size: 3em;
}
.slide_left{

}
.slide_right{
	right: 0
}