.alert{    
    box-shadow: inset #ff0000 0 0 40px 10px,
	                  #ff0000 0 0 24px 12px;
}
.clear_alert{
    box-shadow: none !important;
}

.spacer{
    height: 20px;
}



@media only screen and (max-width: 768px) {

.spacer{
    height: 10px;
}

}
