<main>
		<section class="channel-header-container">
			<div class="uk-grid uk-margin-remove">
				<div class="uk-width-xlarge-1-1 uk-padding-remove" >
					<div class="channel-header">
						<a href="" class="channel-logo">
							<img src="app/img/channel-logo.png" alt="">
						</a>
						<div class="channel-image">
							<img src="app/img/slide-sirena.jpg" alt="">
						</div>
						<a href="" class="channel-user">
							<div class="image-wrapper">
								<img src="app/img/user-square.jpg" alt="">
							</div>
							<p>by:</p>
							<p>Alexandr2016</p>
						</a>
					</div>
				</div>
			</div>
			<div class="uk-grid uk-margin-remove channel-info">
				<div class="uk-width-large-1-2 uk-padding-remove">
					<div class="channel-name">
						<span>Channel name Channel name</span>
						<a href="" class="favor">Add to Favorites</a>
					</div>
				</div>
				<div class="uk-width-large-1-2 uk-padding-remove">
					<div class="channel-stats">
						<div class="channel-videos">
							<span class="channel-counts">75</span>
							<span>videos</span>
						</div>
						<div class="channel-subscribers">
							<span class="channel-counts">5,076</span>
							<span>Subscribers</span>
						</div>
						<div class="channel-views">
							<span class="channel-counts">14,813,293</span>
							<span>Video views</span>
						</div>
					</div>
				</div>
			</div>
		</section>

		<a href="#login-modal-big" data-uk-modal="{center:true}">Login Modal Large</a>

		<div class="filters">
			<div class="uk-grid">
				<div class="uk-width-medium-1-10">
					<a href="" class="quick-filter-btn"></a>
				</div>
				<div class="uk-width-medium-8-10">
					<div class="search-container">
						<form action="" id="search">
							<button type="submit"></button>
							<input type="text" class="search-text">
							<a href="#channel-upload-modal" data-uk-modal="{center:true}" class="upload-btn"></a>
							<button class="search-btn"></button>
						</form>
					</div>
				</div>
				<div class="uk-width-medium-1-10">
					<a href="" class="filter-btn"></a>
				</div>
			</div>
			<ul class="quick-filter-list">
				<li><a href="">Free</a></li>
				<li><a href="">High rated</a></li>
				<li><a href="">Hot&amp;New</a></li>
				<li><a href="">Popular</a></li>
				<li><a href="">Free</a></li>
				<li><a href="">High rated</a></li>
				<li><a href="">Hot&amp;New</a></li>
				<li><a href="">Popular</a></li>
			</ul>
			<div class="filter-container">
				<form action="" id="filter">
					<p class="form-title">Select your preferences:</p>
					<div class="range-slider-wrapper">
						<p class="block-title">Duration (minutes)</p>
						<input type="text" id="range-slider">
						<div id="ui-range-slider"></div>
						<label for="range-slider">
							<span>0</span>
							<span>10</span>
							<span>20</span>
							<span>30</span>
							<span>40+</span>
						</label>
					</div>
					<ul>
						<li><input id="filter-check-8" type="checkbox"><label for="filter-check-8">All</label></li>
						<li><input id="filter-check-9" type="checkbox"><label for="filter-check-9">Professional</label></li>
						<li><input id="filter-check-10" type="checkbox"><label for="filter-check-10">Homemade</label></li>
					</ul>
					<p class="form-title">Categories</p>
					<ul>
						<li><input id="filter-check-0" type="checkbox"><label for="filter-check-0">Asian</label></li>
						<li><input id="filter-check-1" type="checkbox"><label for="filter-check-1">Blonde</label></li>
						<li><input id="filter-check-2" type="checkbox"><label for="filter-check-2">Brunett</label></li>
						<li><input id="filter-check-3" type="checkbox"><label for="filter-check-3">Happy Histories</label></li>
						<li><input id="filter-check-4" type="checkbox"><label for="filter-check-4">Newbee</label></li>
						<li><input id="filter-check-5" type="checkbox"><label for="filter-check-5">Filter </label></li>
						<li><input id="filter-check-6" type="checkbox"><label for="filter-check-6">Filter Filter</label></li>
						<li><input id="filter-check-7" type="checkbox"><label for="filter-check-7">Filter Filter</label></li>
					</ul>
					<input type="submit" value="apply">
				</form>
			</div>
		</div>
		<section class="featured-content">
			<div class="uk-grid uk-margin-remove">
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_01.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_02.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_03.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_04.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_03.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_02.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_04.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 uk-padding-remove uk-margin-remove">
					<a href="" class="preview-item">
						<div class="image-wrapper" style="background-image: url(app/img/preview_01.jpg)">
							<p class="duration"><span>HD</span> 07:13</p>
						</div>
						<div class="descr">
							<p class="name">Jenna Presley outside solo session</p>
							<p class="views-count"><span>100,000</span> views</p>
							<p class="likes-count">85%</p>
						</div>
					</a>
				</div>
			</div>
			<a href="" class="load-more">Show more models</a>
		</section>
	</main>	
	<div id="login-modal-big" class="uk-modal">
		<div class="uk-modal-dialog uk-modal-dialog-large">
			<a class="uk-modal-close uk-close"></a>
			<div class="modal-title">
				<span>Login or Sign Up</span>
			</div>
			<div class="uk-grid uk-margin-remove " data-uk-grid-match>
				<div class="uk-width-large-2-3 uk-padding-remove">
					<form action="" id="login-form">
						<div class="input-container">
							<input type="text" placeholder="username">
						</div>
						<div class="input-container">
							<input type="password" placeholder="password">
						</div>
						<a href="" class="password-reset">Forgot Username or Password?</a>
						<div class="input-container">
							<input type="checkbox" id="remember">
							<label for="remember">Remember me on this computer <span>(not recommended on public or shared computers)</span></label>
						</div>
						<input type="submit" value="Login">
					</form>
				</div>
				<div class="uk-width-large-1-3 uk-padding-remove">
					<p class="title">Not a free member yet?</p>
					<p>Recieve access:</p>
					<ul>
						<li><i class="icon-uoload"></i><i class="icon-download"></i>Download&amp;Upload videos</li>
						<li><i class="icon-interface-1"></i>Post comments</li>
						<li><i class="icon-shapes"></i>Add to Favorites</li>
						<li><i class="icon-like"></i><i class="icon-dislike"></i>Voting</li>
						<li><span>&infin;</span> Unlimited minutes</li>
					</ul>
					<a href="" class="sign-btn">Sign Up</a>
				</div>
			</div>
		</div>
	</div>

	<div id="channel-upload-modal" class="uk-modal">
		<div class="uk-modal-dialog uk-modal-dialog-large" style="background-image: url('app/img/modal-bg.jpg');">
			<a class="uk-modal-close uk-close"></a>
			<form action="" id="channel-upload">
					<div class="uk-grid modal-header">
						<div class="uk-width-xlarge-1-1 uk-padding-remove">
							<div class="modal-title">
								<p>Upload Video:</p>
							</div>
						</div>
						<div class="uk-width-large-2-3  uk-padding-remove">
							<div class="input-container">
								<input type="file" id="modal-fileupload" accept="video/*">
								<label for="modal-fileupload"><span>Browse</span>(File Formats: AVI, FLV, WMV, MP4, MPG or MOV).</label>
							</div>
						</div>
						<div class="uk-width-large-1-3  uk-padding-remove">
							<div class="notify active loading">
								<!-- <p>Upload Successfull, <span>Name your video and add Categories and other info</span></p> -->
								<!-- <p>Upload has failed,  <span>Check again video requirments or contact Supprot center</span></p> -->
								<p>Wait please, Video is uploading...</p>
								<ul class="loading-indicator">
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="uk-grid modal-content uk-margin-remove">
						<div class="uk-width-medium-1-1 uk-width-xlarge-2-3 uk-container-center video-attributes">
							<div class="input-container">
								<label for="">Name your video:</label>
								<div class="input-wrapper">
									<input type="text" required name="video-name">
								</div>
							</div>
							<div class="input-container">
								<label for="">Add categories:</label>
								<div class="select-wrapper">
									<div class="uk-form-select" data-uk-form-select>
										<span></span>
										<select required name="video-category-select">
											<option value="" style="display: none;">Select category</option>
											<option value="">SoulMate</option>
											<option value="">SoulMate</option>
										</select>
									</div>
									<i class="uk-icon-plus add-btn"></i>
								</div>
							</div>
							<div class="input-container">
								<label for="">Actors:</label>
								<div class="select-wrapper">
									<div class="uk-form-select" data-uk-form-select>
										<span></span>
										<select name="video-actors-select">
											<option value="" style="display: none;">Add actor</option>
											<option value="">SoulMate</option>
											<option value="">SoulMate</option>
										</select>
									</div>
									<i class="uk-icon-plus add-btn"></i>
								</div>
							</div>
							<div class="button-wrapper">
								<input type="submit" value="Submit">
							</div>
						</div>

						<div class="uk-width-medium-1-1 uk-width-xlarge-1-1 uk-container-center modal-competition">
							<div class="competition-title">
								<p>Monna Lisa Channel’s<br>Video Competitions</p>
							</div>
							<div class="competition-description">
								<p>Каждый месяц мы награждаем нашего нового победителя. Все победители за каждый месяц сражаются за престижную награду Любитель года, приносящую славу, известность и  приз в 10 000$!</p>
							</div>
							<table class="competition-table">
								<tr>
									<td>Ежемесячные Призы</td>
									<td>
										<p class="cell-wrapper">Любитель месяца: <span>$ 1000</span></p>
										<p class="cell-wrapper">Новичок месяца: <span>$ 500</span></p>
										<p class="cell-wrapper">Лучшее видео месяца: <span>$ 250</span></p>
									</td>
								</tr>
								<tr>
									<td>Ежеквартальные Призы</td>
									<td>
										<p class="cell-wrapper">Любитель квартала: <span>$ 5000</span></p>
										<p class="cell-wrapper">Новичок квартала: <span>$ 1000</span></p>
										<p class="cell-wrapper">Лучшее видео квартала: <span>$ 1000</span></p>
									</td>
								</tr>
								<tr>
									<td>Полугодовые Призы</td>
									<td>
										<p class="cell-wrapper">Любитель полугода: <span>$ 10000</span></p>
										<p class="cell-wrapper">Новичок полугода: <span>$ 2000</span></p>
										<p class="cell-wrapper">Лучшее видео полугода: <span>$ 2000</span></p>
									</td>
								</tr>
								<tr>
									<td>Ежегодные Призы</td>
									<td>
										<p class="cell-wrapper">Любитель года: <span>$ 20000</span></p>
										<p class="cell-wrapper">Новичок года: <span>$ 4000</span></p>
										<p class="cell-wrapper">Лучшее видео года: <span>$ 4000</span></p>
									</td>
								</tr>
							</table>
						</div>
					</div>
			</form>
		</div>
	</div>

	<div id="sidemenu" class="uk-offcanvas">
		<div class="uk-offcanvas-bar sidemenu-bar">
			<div class="sidebar-block">
				<p class="sidebar-block-title">Search</p>
				<div class="sidebar-block-content">
					<form action="" id="side-search">
						<div class="input-container">
							<input type="text" class="search-text">
							<button type="submit"></button>
						</div>
					</form>
				</div>
			</div>
			<div class="sidebar-block">
				<p class="sidebar-block-title">Quick filters</p>
				<div class="sidebar-block-content">
					<ul class="side-quick-filter-list">
						<li><a href="">Free</a></li>
						<li><a href="">High rated</a></li>
						<li><a href="">Hot&amp;New</a></li>
						<li><a href="">Popular</a></li>
						<li><a href="">Free</a></li>
						<li><a href="">High rated</a></li>
						<li><a href="">Hot&amp;New</a></li>
						<li><a href="">Popular</a></li>
					</ul>
				</div>
			</div>
			<div class="sidebar-block">
				<p class="sidebar-block-title">Filters</p>
				<div class="sidebar-block-content">
					<form action="" id="side-filter">
						<p class="form-title">Select your preferences:</p>
						<div class="range-slider-wrapper">
							<p class="block-title">Duration (minutes)</p>
							<input type="text" id="side-range-slider">
							<div id="side-ui-range-slider"></div>
							<label for="range-slider">
								<span>0</span>
								<span>10</span>
								<span>20</span>
								<span>30</span>
								<span>40+</span>
							</label>
						</div>
						<ul>
							<li><input id="side-filter-check-8" type="checkbox"><label for="side-filter-check-8">All</label></li>
							<li><input id="side-filter-check-9" type="checkbox"><label for="side-filter-check-9">Professional</label></li>
							<li><input id="side-filter-check-10" type="checkbox"><label for="side-filter-check-10">Homemade</label></li>
						</ul>
						<p class="form-title">Categories</p>
						<ul>
							<li><input id="side-filter-check-0" type="checkbox"><label for="side-filter-check-0">Asian</label></li>
							<li><input id="side-filter-check-1" type="checkbox"><label for="side-filter-check-1">Blonde</label></li>
							<li><input id="side-filter-check-2" type="checkbox"><label for="side-filter-check-2">Brunett</label></li>
							<li><input id="side-filter-check-3" type="checkbox"><label for="side-filter-check-3">Happy Histories</label></li>
							<li><input id="side-filter-check-4" type="checkbox"><label for="side-filter-check-4">Newbee</label></li>
							<li><input id="side-filter-check-5" type="checkbox"><label for="side-filter-check-5">Filter </label></li>
							<li><input id="side-filter-check-6" type="checkbox"><label for="side-filter-check-6">Filter Filter</label></li>
							<li><input id="side-filter-check-7" type="checkbox"><label for="side-filter-check-7">Filter Filter</label></li>
						</ul>
						<input type="submit" value="apply">
					</form>
				</div>
			</div>
		</div>
	</div>